/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.fixedHeaderContainer {
    z-index: 0;
}

.mvn-badge {
    height: 37px;
    border-radius: 3px;
}

.fork-me {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

@media only screen and (min-width: 1350px) {
    .fork-me {
        display: block;
    }
}
